div{
    background-color: rgb(0,0,0,0);
}

main{
  
    padding: 10em;
    display: grid;
    grid-gap: 20px 20px; 
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr)); 
   
} 
.title{
   
    font-size: 60px;
    text-align: center;
}

    video::-webkit-media-controls-start-playback-button {
    display: none;
}
    
    
.ad-0{
    width: 100%;
    height: 100%;
   /*
    -webkit-animation-name: slide;
    animation-name: slide;
    -webkit-animation-duration: 50s;
    animation-duration; 50s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    */
}
/*
@-webkit-keyframes slide{
  0%{
      -webkit-transform: translate(150px, 0px);
      -ms-transform: translate(150px, 0px);
      transform: translate(150px, 0px);
    }
  25%{
     -webkit-transform: translate(300px, 0px);
      -ms-transform: translate(300px, 0px);
      transform: translate(300px, 0px);
    }
  50%{
     -webkit-transform: translate(450px, 0px);
      -ms-transform: translate(450px, 0px);
      transform: translate(450px, 0px);
    }
  75%{
      -webkit-transform: translate(600px, 0px);
      -ms-transform: translate(600px, 0px);
      transform: translate(600px, 0px);
    }
    100%{
      -webkit-transform: translate(1200px, 0px);
      -ms-transform: translate(1200px, 0px);
      transform: translate(1200px, 0px);;
    }
}

@keyframes slide{
     0%{
      -webkit-transform: translate(150px, 0px);
      -ms-transform: translate(150px, 0px);
      transform: translate(150px, 0px);
    }
  25%{
     -webkit-transform: translate(300px, 0px);
      -ms-transform: translate(300px, 0px);
      transform: translate(300px, 0px);
    }
  50%{
     -webkit-transform: translate(450px, 0px);
      -ms-transform: translate(450px, 0px);
      transform: translate(450px, 0px);
    }
  75%{
      -webkit-transform: translate(600px, 0px);
      -ms-transform: translate(600px, 0px);
      transform: translate(600px, 0px);
    }
    100%{
      -webkit-transform: translate(1200px, 0px);
      -ms-transform: translate(1200px, 0px);
      transform: translate(1200px, 0px);;
    }
}
*/
.ad-1a>img, .ad-1b>img{

    
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    

    
}

.ad-2>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}
.ad-2>::before{
    content: '';
    position: relative;
    background-color: rgba(255,255,255,0.3);
    height:50%;
    width: 50%;
    left:-560px;
    transform: skewX(-30deg);
}
.ad-2>:hover:before{
    animation: slide 1s;
}
@keyframes slide{
    0%,100%{
        left: -560px;
    }
    50%{
        left:100%;
    }
}

@-webkit-keyframes slide{
    0%,100%{
        left: -560px;
    }
    50%{
        left:100%;
    }
}

.ad-3>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}

.ad-4>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}


.ad-5>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}

.ad-6>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}

.ad-7>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}

.ad-1337>img{

    width: 50%;
    height: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}

.ad-13390>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
  
}

.box{
    background: url(b0442906-6679-490f-98e3-8e89549cbf7b.jpg);
    width: 200px;
    height: 200px;
    background-color: #393;
    position: absolute;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    background-size: 200px;
    position: relative;
    /*-webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 80s;
    animation-duration: 80s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;*/
   
}

.box::before{
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255,0.3);
    height: 100%;
    width:100%;
    left: -260px;
    transform: skewX(-30deg);
}

.box:hover:before{
    animation: slide 1s;
}

.box{
    border-radius: 100%;
}



@keyframes slide{
    0%, 100%{
        left: -260px;
    }
    50%{
        left: 100%;
    }
}
@-webkit-keyframes slide{
    0%, 100%{
        left: -260px;
    }
    50%{
        left: 100%;
    }
}



/*

@-webkit-keyframes rotate{
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);

    }
    25%{
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50%{
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);

    }
    75%{
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);

    }
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);

    }
    
}

@keyframes slide{
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);

    }
    25%{
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50%{
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);

    }
    75%{
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);

    }
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);

    }
    
}
*/






@media (max-width: 550px){
    main{
        width:100%;
        height: 100%;
    }
}

