div{
    background-color: rgb(0,0,0,0);
}

main{
  
    padding: 10em;
    display: grid;
    grid-gap: 20px 20px; 
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr)); 
  
}


.ad-0{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
}

.flip-card {
  background-color: transparent;
  width: auto-fit;
  height: auto-fit;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
   
 }

 .flip-card-inner{
      width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover, .flip-card-inner{
    transform: rotateY(180deg);
}

.ad-1a>img, .ad-1b>img{

   
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);

    
}
.ad-1a, .ad-1b{
    width:100%;
    height: 100%;
    backface-visibility: hidden;
}

.ad-1a{
    background-color: green;
    color: black;
 }
 
 .ad-1b{
     background-color: yellow;
     color:white;
     transform: rotateY(180deg);
  }

.ad-2>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}

.ad-3>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}

.ad-4>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}


.ad-5>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}

.ad-6>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}

.ad-7>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}

.ad-1337>img{

    width: 50%;
    height: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
    
}

.ad-13390>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 30px rgba(138, 3, 248, 0.1);
  
}

@media (max-width: 550px){
    main{
        width:100%;
        height: 100%;
    }
}

